@page
@model Performingcrud.Pages.Clients.CreateModel
@{
}

<h2>
	Insert New Students Details
</h2>
<br />

@if(Model.errorMessage.Length >0){
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
	</div>
}

<div>
	<form method="post">
		<label>Student ID</label>
		<input type="number" name="stid" value="@Model.StudentsInfo.stid" />
		<br /><br />
		<label>Student Name</label>
		<input type="text" name="sname" value="@Model.StudentsInfo.sname" />
		<br /><br />
		<label>Student Age</label>
		<input type="number" name="sage" value="@Model.StudentsInfo.sage" />
		<br /><br />
		<label>Student Degree</label>
		<input type="text" name="sdegree" value="@Model.StudentsInfo.sdegree" />
		<br /><br />
		<label>Student Phone Number</label>
		<input type="tel" name="sphno" value="@Model.StudentsInfo.sphno" />

		<br /><br />
		<input type="submit" class="btn btn-primary" name="Add New Student" />       
		<input type="submit" class="btn btn-outline-primary" name="cancel" value="Cancel" href="/Clients" />
	</form>
</div>

@if (Model.successMessage.Length > 0)
{
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<strong>@Model.successMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
	</div>
}